{{ define "main" }}
{{/* Created on 10. 06. 2024 */}}
{{/* Time-stamp: <2026-07-24 13:29:21 krylon> */}}
<!DOCTYPE html>
<html>
    {{ template "head" . }}

    <body>
        {{ template "intro" . }}

        <div id="content" class="content box">
          Nothing to see here (yet), move along!
        </div>

        {{ template "footer" . }}
    </body>
</html>
{{ end }}
