{{ define "menu" }}
{{/* Time-stamp: <2026-08-11 14:08:10 krylon> */}}
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #D4D4D4">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/main">Start</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/network/all">Networks</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false">
            Devices
          </a>
          <ul class="dropdown-menu">
            {{ range .Devices }}
            <li>
              <a class="dropdown-item"
                href="/device/{{ .ID }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" onclick="run_probe();">
            Run Probe
          </a>
        </li>

        {{/*
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
            href="#"
            id="analysis_menu_link"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Analysis
          </a>
          <ul class="dropdown-menu" aria-labelledby="analysis_menu_link">
            <li class="dropdown-item">
              <a class="nav-link" href="/analysis/histogram/7/0">
                Analysis
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link" href="/analysis/trend/7/10">
                Chart
              </a>
            </li>
            <li class="dropdown-item">
              <a class="nav-link" href="/analysis/tags/7/0">
                Tags
              </a>
            </li>
          </ul>
        </li>
        */}}

      </ul>
    </div>
  </div>
</nav>
{{ end }}
