{{ define "network_details" }}
{{/* Created on 12. 08. 2026 */}}
{{/* Time-stamp: <2026-08-13 12:02:11 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <div class="container content">
      <div class="row">
        <table class="table caption-top" id="net_form" hidden="true">
          <caption>Add Network</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <input
                  type="text"
                  class="net_form"
                  name="name"
                  id="net_name"
                  value="{{ .Network.Name }}" />
              </td>

              <td>
                <input
                  type="text"
                  class="net_form"
                  name="addr"
                  value="{{ .Network.Addr }}"
                  id="net_addr" />
              </td>
            </tr>

            <tr>
              <td>
                <button
                  class="btn btn-danger"
                  onclick="net_form_reset();">
                  Cancel
                </button>
              </td>
              <td>
                <button
                  class="btn btn-success"
                  onclick="net_save();">
                  OK
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="row">
        <table class="caption-top">
          <caption>Network {{ .Network.Name }}</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Address</th>
              <th>Added</th>
              <th>Last Scan</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ .Network.ID }}</td>
              <td>{{ .Network.Addr }}</td>
              <td>{{ fmt_date .Network.Added }}</td>
              <td>{{ fmt_time_minute .Network.LastScan }}</td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  onclick="net_edit_begin();">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <table class="caption-top">
          <caption>Devices</caption>
          <thead>
            <th>Address</th>
            <th>Name</th>
            <th>OS</th>
            <th>Device Class</th>
            <th>Added</th>
            <th>Last Contact</th>
          </thead>

          <tbody>
            {{ $net_id := .Network.ID }}
            {{ range .Devices }}
            {{ if eq .NetID $net_id }}
            <tr>
              <td>{{ .Addr }}</td>
              <td>
                <a href="/device/{{ .ID }}">
                  {{ .Name }}
                </a>
              </td>
              <td>{{ .OS }}</td>
              <td>{{ .Class }}</td>
              <td>{{ fmt_date .Added }}</td>
              <td>{{ fmt_time_minute .LastContact }}</td>
            </tr>
            {{ end }}
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
